{% extends "base.html" %}
{% block content %}
  <div class="container-fluid">
  {% for student_row in students | batch(6, None) %}
    <div class="row">
    {% for student in student_row %}
      {% if student != None %}
        <div class="col-xs-12 col-sm-2">
          <figure class="figure">
            <a href="{{ year }}/{{ student.name }}">
				<img class="figure-img img-fluid rounded" src="/static/images/students/{{student.id}}/{{student.images if student.images else 'blank.png' }}" width="100">
			<!--<div style="background-color:white" class="col-sm-4"><img src="/static/images/students/{{student.images}}"></img></div>--!>
            <figcaption class="figure-caption">{{ student.name }}</figcaption>
            </a>
          </figure>
        </div>
        <div class="clearfix visible-xs-block"></div>
      {%endif %}
    {% endfor %}
    </div>
    <div class="clearfix"></div>
  {% endfor %}
  </div>
{% endblock %}
